HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
venv/
ENV/
env.bak/
*.egg
*.egg-info/
dist/
build/
*.pytest_cache/
.pytest_cache/
.tox/
.coverage
.cache/
*.log
*.sqlite3
*.mypy_cache/
.mypy_cache/
.dmypy.json
.dmypy.json
.pyre/
.pyre-check/
.pytype/
.pytype_cache/

# Node.js / JavaScript specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
.npm
*.tgz
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
.node_repl_history
.DS_Store
coverage/
.nyc_output/
.serverless/
.fusebox/
.dynamodb/
.tern-port
.webpack/
.next/
out/
.nuxt/
dist/
.cache/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# .NET Core Test Results
TestResults/
*.trx
*.coverage
*.coveragexml
*.log

# Visual Studio Code
.vscode/

# Rider
.idea/
*.sln.iml

# Build Results
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.ide
*.orig
*.tlog
*.tmp
*.csproj.user
*.csproj.nuget.g.props
*.csproj.nuget.g.targets

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

.azure/
springapp/.azure/
fastapi/.azure/
expressapp/.azure/